.authen-template{
    width: 100vw;
    height: 100vh;
    background-image: url('https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/461262683_2177556749305410_7818636665200768233_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=4d4AaaFrXMUQ7kNvgHiTArK&_nc_ht=scontent.fsgn2-6.fna&_nc_gid=AuvBjzkxFHUhZ2cZE351RHB&oh=00_AYA6JxxkJNqfirxUbg2p3Li6jCY-xYYnU7l7_jgtqw7VZg&oe=66FD6786');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
}

.authen-template_form{
    width: 500px;
    height: 80vh;
    background-color: white;
    margin-left: 50px;
    border-radius: 12px;
    padding: 30px;
}