/* information block */
.informationBlock .holder {
    background: #f9f9f9;
    border: 1px solid #ddd;
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    padding: 30px;
}

.informationBlock .image-container {
    flex: 0 0 auto; /* Prevent the image container from growing */
    margin-right: 20px; /* Space between image and text */
}

.informationBlock .text-container {
    flex: 1; /* Allow text container to grow */
}

.informationBlock .holder img {
    width: 250px; 
    height: auto;
    margin-right: 20px;
}

.informationBlock {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.informationBlock h3 {
    font-size: 22px;
}

.informationBlock .holder p {
    color: #f14705;
    font-size: 16px;
}